* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#addAndSearch {
  display: flex;
  justify-content: space-evenly;
}
#searchIcon {
  width: 10px;
}
#search {
  margin: 3px 0 0 50px;
}
#search button {
  border-radius: 0 5px 5px 0;
  padding: 0 5px;
}
#searchField {
  border-radius: 5px 0 0 5px;
  background-color: rgb(247, 235, 235);
}
main {
  height: 89vh;
}
footer {
  text-align: center;
  background-color: #090b6d;
  color: white;
}