* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header>img {
  width: 100vw;
  height: 2.5rem;
}
main {
  width: 100vw;
  height: 90vh;
}
footer {
  position: relative;
  text-align: center;
  background-color: #090b6d;
  color: white;
}
#addTaskContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  
}
#taskListContainer {
  margin-top: .5rem;
  border: 2px solid;
  height: 80vh;
}
#taskListContainer>h2 {
  text-align: center;
  padding-top: 1rem;
  border-bottom: 2px solid grey;
}
#AddButtonImage {
  width: 4rem;
}
#task {
  padding: 0 5px;
}