* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header>img {
  width: 100vw;
  height: 2.5rem;
}
main {
  width: 100vw;
  height: 90vh;
  
}
footer {
  text-align: center;
  background-color: #090b6d;
  color: white;
}
#task {
  padding: 0 5px;
}
#AddButtonImage {
  width: 4rem;
}
#addTaskContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  
}
#taskListContainer {
  margin-top: .5rem;
  border: 2px solid grey;
  height: 82vh;
  overflow-y: scroll;
  margin: .5em 0;
  padding: .5em;
}
#taskListContainer>h2 {
  text-align: center;
  padding-top: 1rem;
  border-bottom: 2px solid grey;
}
#taskList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem;
  border-bottom: 1px solid grey;
}
